<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Error 404</title>
</head>
<body>
  <h1>Error 404...</h1>
  <p>Go home... you're drunk...</p>
  <p><%= path%> does not exist...</p>
</body>
</html>
