<!DOCTYPE HTML>
<html>
	<head>
		<title>Restaurant</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" class="wrapper">
					<div id="header">

						<!-- Logo -->
							<div id="logo">
								<h1><a href="index.html">22 Berry Restaurant</br> Fast and Tasty</a></h1>
								<p>Homemade/Organic/Fresh go Fast!</p>
								<button id='placeanorder'>Place An Order</button>
							</div>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="index.html">Home</a></li>
									<li>
										<a href="restaurant/order">Order</a>
							<li>
											<a href="/restaurant/order/:id">View Order</a>
								</li>
							<li>
											<a href="/login">Log In</a>
								</li>
							</nav>
					</div>
				</div>

			<!-- Highlights -->
				<div class="wrapper style3">
					<div class="title">The Things to EAT</div>
					<div id="highlights" class="container">
						<div class="row 150%">
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="http://booneview.com/wp-content/uploads/2015/05/steak-300x200.jpg" alt="" /></a>
									<h3><a href="#">Organic ingridients</a></h3>
									<p>100% pure beef in our burgers, we’re committed to serving you the very best.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="http://img.freepik.com/free-photo/cooking--chef-cook--basket--uniform_3226358.jpg?size=338&ext=jpg" alt="" /></a>
									<h3><a href="#">Cherrful and educated stuff</a></h3>
									<p>Best service provided by our stuff that has been closely selected.</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
							<div class="4u 12u(mobile)">
								<section class="highlight">
									<a href="#" class="image featured"><img src="http://www.thesassycook.com/wp-content/uploads/2014/10/StrawberriesCream_Cookies_Sandwich-Landscape-330x220.jpg" alt="" /></a>
									<h3><a href="#">Catering. We will cook for you!</a></h3>
									<p>A lunch for 10 people downtown? No problem. Just give us a call at 1-800-Call US!</p>
									<ul class="actions">
										<li><a href="#" class="button style1">Learn More</a></li>
									</ul>
								</section>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper" class="wrapper">922 Broadway</br>
				New York, NY 10010</br>
				b/t 21st St & 22nd St</br>
				Flatiron</br>
				Trains 'N', 'R' 23 St. and 2 more stations</br>
				Phone number 1800 JUST CALL!
		</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
