body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

small {
  right: 3%;
  position: absolute;
}

div {
  border: 1px solid black;
  position: relative;
  width: 20%;
}

li {
  left: 2%;
  position: relative;
  list-style: none;
}
